body 
{
background-color: hsl(212, 48%, 58%);
font-family:'arial';
font-weight:12px;
font-size: 13px
}
section 
{
    width: 900px;
    height: 1000px;
    margin-left: 18%;
    margin-right: 15%;
    background-color: white;
    position: relative;
    overflow: hidden;
}
h3 
{
    color: #6db6fa;
}
.foto 
{
    margin-top: 70px;
    margin-left: 80px;
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 10px 10px 30px -5px rgba(0, 0, 0, 0.2);
}
.nom 
{
    position: absolute;
    padding-left: 40px;
}
.subt 
{
    color: rgb(73, 112, 230);
    position: absolute;
    margin-top: 50px;
    padding-left: 40px;
}
.texto 
{
    position: absolute;
    margin-top:100px;
    width:300px;
    padding-left: 40px;
}
.experiens 
{
           
    margin-left: 80px;
    margin-top: 320px;
    position: absolute;
    border-radius: 10px;
    height: 260px;
    width: 360px;
    padding-left: 30px;
    padding-top:10px;
    box-shadow: 10px 10px 30px -5px rgba(0, 0, 0, 0.2);

}
.educa 
{
    margin-left: 510px;
    margin-top: 320px;
    position: absolute;
    border-radius: 10px;
    height: 260px;
    width: 310px;
    padding-left: 30px;
    padding-top:10px;
    box-shadow: 10px 10px 30px -5px rgba(0, 0, 0, 0.2);
 }
.ne
{
    font-weight: 700;
    font-size: 15px;
}
.programingSkill 
{
    margin-left:80px;
    margin-top: 620px;
    position: absolute;
    height: 260px;
    width: 360px;
    border-radius: 10px;
    padding-left: 30px;
    box-shadow: 10px 10px 30px -5px rgba(0, 0, 0, 0.2);
}
.fav 
{
    flex-direction: column;
    align-content: center;
    display: flex;
    margin-left: 510px;
    margin-top: 620px;
    position: absolute;
    border-radius: 15px;
    height: 260px;
    width: 310px;
    padding-left: 30px;
    box-shadow: 10px 10px 30px -5px rgba(0, 0, 0, 0.2);
    background-color: rgba(255,255 ,255 , 0.5)
}
.color1 
{
    background-color: #facf72;
    width: 55x;
    border-radius: 5px;
}
.color2 
{
    background-color: rgb(158, 192, 243);
    width: 15px;
    border-radius: 5px;
}
.color3 
{
    background-color: #88b998;
    width: 15px;
    border-radius: 5px;
}
.color4 
{
    background-color: #508353;
    width: 15px;
    border-radius: 5px;
}
.color5 
{
    background-color: #357580;
    width: 15px;
    border-radius: 5px;
}
.color6 
{
    background-color: #abaac4;
    width: 15px;
    border-radius: 5px;
}
.color7 
{
    background-color: #b66767;
    width: 15px;
    border-radius: 5px;
}
.color8 
{
    background-color: #96403d;
    width: 15px;
    border-radius: 5px;
}
.color9 
{
    background-color: #813145;
    width: 15px;
    border-radius: 5px;
}
.color10 
{
    background-color: #b45469;
    width: 15px;
    border-radius: 5px;
}
.color11 
{
    background-color: #7fa04b;
    width: 15px;
    border-radius: 5px;
}
.color12 
{
    background-color: #ebac5b;
    width: 15px;
    border-radius: 5px;
}
.color13 
{
    background-color: #d6b4df;
    width: 15px;
    border-radius: 5px;
}
.color14 
{
    background-color: #61ac6b;
    width: 15px;
    border-radius: 5px;
}
.esp 
{
    border-spacing: 20px 10px;
}
.espa 
{
    border-spacing: 50px 10px;
}
footer 
{
    margin-left: 90px;
    margin-top: 910px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    
}
.espac 
{
    border-radius: 5px;
    border-spacing: 30px 10px;
}
.circ 
{
    background-color: #a6f2f5;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: absolute;
    transform: translate(-40%, -40%);
}
.circul 
{
    background-color: #86f3e1;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    position: absolute;
    transform: translate(130%, 150%);
}
.list
{
    list-style: none;
    border-left: thick solid rgb(25, 235, 235);
    padding-left: 15px;
}
.fi1
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    width: 280px;
}
.fi2
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    width: 280px;
    border-radius: 10px;

}
.info
{
    margin-top: 70px;
    margin-left: 350px;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    position: absolute;
    box-shadow: 10px 10px 30px -5px rgba(0, 0, 0, 0.2);
}